*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*::after, *::before{
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
ul,li {
    list-style: none;
}
.clearfix::after{
    content:'';
    display: block;
    clear:both;
}
.carousel .img-ct>li{
    float: left;
}
.carousel .img-ct img{
    width:300px;
    height:200px;
}
.carousel{
    overflow:hidden;
    width:300px;
    height:200px;
    margin:100px auto;
    position: relative;
}
.img-ct {
    position: absolute;
}
.carousel a{
    display: inline-block;
}
.carousel .arrow{
    position: absolute;
    top:50%;
    margin-top:-15px;
    font-size:20px;
    color:#fff;
    width:30px;
    height:30px;
    line-height: 28px;
    border-radius:50%;
    border:2px solid #fff;
    text-align: center;
}
.carousel .icon-left-arrow{
    left:5px;
}
.carousel .icon-right-arrow-copy{
    right:5px;
}
.carousel .bullet{
    position: absolute;
    bottom:20px;
    width:100%;
    text-align: center;
    cursor: pointer;
    /* font-size:0; */
}
.carousel .bullet li{

    width:25px;
    height:8px;
    border:1px solid #fff;
    border-radius: 30%;
    /* margin:0 5px; */
    display: inline-block;
    cursor: pointer;
}
.carousel .bullet li.active{
    background-color:#fff;
}